.nav-link {
    position: relative;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}

.nav-link:hover {
    color: #191919;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #fff;
    padding: 0 7px;
}

.navbar.is-scrolled {
    background-color: var(--color-neutral-950);
}
